/*[ FONT ]
///////////////////////////////////////////////////////////
*/

@font-face {
	font-family: Montserrat-Regular;
	src: url('../../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
	font-family: Montserrat-Medium;
	src: url('../../fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
	font-family: Montserrat-Bold;
	src: url('../../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
	font-family: Montserrat-Italic;
	src: url('../../fonts/montserrat/Montserrat-Italic.ttf');
}

@font-face {
	font-family: Montserrat-Black;
	src: url('../../fonts/montserrat/Montserrat-Black.ttf');
}

@font-face {
	font-family: Linearicons;
	src: url('../../fonts/Linearicons-Free-v1.0.0/WebFont/Linearicons-Free.ttf');
}

@font-face {
	font-family: Poppins-Bold;
	src: url('../../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
	font-family: Poppins-Black;
	src: url('../../fonts/poppins/Poppins-Black.ttf');
}

/*[ RESTYLE TAG ]
///////////////////////////////////////////////////////////
*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	font-family: Montserrat-Regular, sans-serif;
	font-weight: 400;
}

aside,
nav {
	display: block;
}

/* ------------------------------------ */
a {
	font-family: Montserrat-Regular;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #689c72;
}

/* ------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

p {
	font-family: Montserrat-Regular;
	font-size: 15px;
	line-height: 1.7;
	color: #888888;
	margin: 0px;
}

ul,
li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
	outline: none;
	border: none !important;
}

textarea {
	outline: none;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder {
	color: transparent;
}

input:focus:-ms-input-placeholder {
	color: transparent;
}

textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

textarea:focus:-moz-placeholder {
	color: transparent;
}

textarea:focus::-moz-placeholder {
	color: transparent;
}

textarea:focus:-ms-input-placeholder {
	color: transparent;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/* ------------------------------------ */
.container {
	max-width: 1200px;
}

.slick-slide {
	outline: none !important;
}

/*[ LOADDING ]
///////////////////////////////////////////////////////////
*/
.animsition-loading-1 {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

[data-loader='ball-scale'] {
	width: 50px;
	height: 50px;
	-webkit-animation: ball-scale infinite linear .75s;
	-moz-animation: ball-scale infinite linear .75s;
	-o-animation: ball-scale infinite linear .75s;
	animation: ball-scale infinite linear .75s;
	border-radius: 100%;
	background-color: #689c72;
}

@-webkit-keyframes ball-scale {
	0% {
		-webkit-transform: scale(.1);
		-ms-transform: scale(.1);
		-o-transform: scale(.1);
		transform: scale(.1);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}

@-moz-keyframes ball-scale {
	0% {
		-webkit-transform: scale(.1);
		-ms-transform: scale(.1);
		-o-transform: scale(.1);
		transform: scale(.1);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}

@-o-keyframes ball-scale {
	0% {
		-webkit-transform: scale(.1);
		-ms-transform: scale(.1);
		-o-transform: scale(.1);
		transform: scale(.1);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes ball-scale {
	0% {
		-webkit-transform: scale(.1);
		-ms-transform: scale(.1);
		-o-transform: scale(.1);
		transform: scale(.1);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}

/*[ BACK TO TOP ]
///////////////////////////////////////////////////////////
*/
.btn-back-to-top {
	display: none;
	position: fixed;
	width: 40px;
	height: 40px;
	bottom: 40px;
	right: 40px;
	background-color: #689c72;
	opacity: 0.8;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	border-radius: 4px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

.symbol-btn-back-to-top {
	font-size: 22px;
	color: white;
	line-height: 1em;
}

.btn-back-to-top:hover {
	opacity: 1;
	cursor: pointer;
}

@media (max-width: 992px) {
	.btn-back-to-top {
		bottom: 80px;
		right: 15px;
	}
}

@media (max-width: 576px) {
	.btn-back-to-top {
		bottom: 80px;
		right: 15px;
	}
}

/*[ Header ]
///////////////////////////////////////////////////////////
*/
.header1 {
	height: 65px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.fixed-header {
	height: 65px;
}


/*[ Header Desktop ]
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.container-menu-header {
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1100;
	box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
}

/*[ Top bar ]
===========================================================*/
.topbar {
	height: 0;
}

/*[ Menu ]
===========================================================*/
.wrap_header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 80px;
	background-color: #689c72;
	justify-content: center;
	align-items: center;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.fixed-header .wrap_header {
	height: 65px;
}


/*[ Logo ]
-----------------------------------------------------------*/
.logo {
	display: block;
	position: absolute;
	left: 52px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.logo img {
	max-height: 27px;
}


/*[ Menu ]
-----------------------------------------------------------*/
.main_menu {
	list-style-type: none;
	margin: 0px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.main_menu>li {
	display: block;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.main_menu>li>a {
	font-family: Montserrat-Regular;
	font-size: 15px;
	color: white;
	border-bottom: 1px solid transparent;
}

.menu_mobile {
	width: 100%;
}

.main_menu_mobile {
	list-style-type: none;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	justify-content: space-between;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.main_menu_mobile>li {
	display: block;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.main_menu_mobile>li>a {
	font-family: Montserrat-Regular;
	font-size: 15px;
	color: #333333;
	padding: 0;
	border-bottom: 1px solid transparent;
}

.footer-wrapicon {
	height: 25px;
	position: relative;
}

.footer-wrapicon img {
	height: 100%;
}

li.sale-noti>a {
	color: #e65540;
}

.main_menu>li:hover>a {
	text-decoration: none;
	border-bottom: 1px solid white;
}


.main_menu>li:hover>.sub_menu {
	visibility: visible;
	opacity: 1;
}

.sub_menu {
	list-style-type: none;
	position: absolute;
	z-index: 1100;
	top: 0;
	left: 100%;
	width: 175px;
	background-color: #a2ebaf;
	opacity: 0;
	visibility: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

.main_menu>li>.sub_menu {
	top: 95%;
	left: 0;
	position: absolute;
}

.sub_menu li:hover>.sub_menu {
	visibility: visible;
	opacity: 1;
}

.sub_menu li {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

.sub_menu li,
.sub_menu a {
	font-family: Montserrat-Medium;
	font-size: 13px;
	color: white;
}

.sub_menu>li:hover>a {
	color: #689c72;
	text-decoration: none;
}

/* ------------------------------------ */
.header-icons {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	position: absolute;
	right: 52px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.header-wrapicon1,
.header-wrapicon2 {
	height: 27px;
	position: relative;
}

.header-wrapicon1 img,
.header-wrapicon2 img {
	height: 100%;
}

.header-icon1:hover,
.header-icon2:hover {
	cursor: pointer;
}

.header-icons-noti {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	border: 2px solid #689c72;
	background-color: white;
	color: #689c72;
	font-family: Montserrat-Medium;
	font-size: 12px;
	position: absolute;
	top: -8px;
	right: -10px;
}

.linedivide1 {
	display: block;
	height: 20px;
	width: 1px;
	background-color: #e5e5e5;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
}

/*[ Header cart ]
-----------------------------------------------------------
*/
.header-cart {
	position: absolute;
	z-index: 1100;
	width: 400px;
	top: 190%;
	right: -10px;
	padding: 20px;
	background-color: #a2ebaf;

	box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);

	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;

	transform-origin: top right;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.show-header-dropdown {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.fixed-header .header-cart {
	top: 160%;
}

.header-cart-wrapitem {
	max-height: 270px;
	overflow: auto;
}

.header-cart-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-bottom: 5px;
	padding-top: 5px;
}

/* ------------------------------------ */
.header-cart-item-img {
	width: 60px;
	position: relative;
	margin-right: 10px;
}

.header-cart-item-img img {
	width: 100%;
}

.header-cart-item-img::after {
	content: '\e870';
	font-family: Linearicons;
	font-size: 16px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	opacity: 0;
}

.header-cart-item-img:hover:after {
	cursor: pointer;
	opacity: 1;
}

@media (max-width: 992px) {
	.header-cart-item-img {
		width: 50px;
		position: relative;
		margin-right: 10px;
	}
}

/* ------------------------------------ */
.header-cart-item-txt {
	width: calc(100% - 100px);
}

.header-cart-item-name {
	display: block;
	font-family: Montserrat-Medium;
	font-size: 14px;
	color: white;
	line-height: 1.3;
	margin-bottom: 10px;
}

.header-cart-item-info {
	display: block;
	font-family: Montserrat-Medium;
	font-size: 12px;
	color: white;
	line-height: 1.5;
}

.header-cart-total {
	font-family: Montserrat-Medium;
	font-size: 15px;
	color: white;
	line-height: 1.3;
	text-align: right;
	padding-top: 15px;
	padding-bottom: 25px;
	padding-right: 3px;
}

/* ------------------------------------ */
.header-cart-buttons {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.header-cart-wrapbtn {
	width: calc((100% - 10px) / 2);
}

.header-cart-wrapbtn-type-order {
	width: calc((100% - 10px) / 2);
}

.cart-items {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-items .items-price {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	align-items: center;
}

.cart-items .items-subtotal {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	display: flex;
	flex-wrap: wrap;
}

.cart-items .items-subtotal .removecart {
	width: 17px;
	height: 16px;
	margin-left: 10px;
	padding: 0;
}

.cart-items .items-subtotal .removecart>i {
	padding: 1px 2px;
	font-size: 14px;
	color: #dc3545;
}

.cart-items .cart-qty {
	width: auto;
	margin-left: 20px;
}

.cart-items .cart-qty .decrementqty {
	width: 17px;
	height: 16px;
}

.cart-items .cart-qty .incrementqty {
	width: 17px;
	height: 16px;
}

.cart-items .cart-qty .num-product {
	width: 21px;
	height: 16px;
	font-family: Montserrat-Medium;
	color: #fff;
	background-color: #a2ebaf;

}

.btn-qty {
	width: calc(100% / 3);
	height: 30px;
}

.btn-qty-slick {
	width: calc(100% / 3);
	height: 30px;
}

.btn-qty-detail {
	width: calc(100% / 3);
	height: 40px;
}

.qty-num-product {
	width: calc(100% / 3);
	height: 30px;
	font-family: Montserrat-Regular;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-color: #a2ebaf;
	line-height: 1.2;
}

.qty-num-product-slick {
	width: calc(100% / 3);
	height: 30px;
	font-family: Montserrat-Medium;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-color: #a2ebaf;
	line-height: 1.2;
}

.qty-num-product-detail {
	width: calc(100% / 3);
	height: 40px;
	font-family: Montserrat-Medium;
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: #a2ebaf;
	line-height: 1.2;
}

@media (max-width: 992px) {
	.header-cart-wrapbtn-type-order {
		width: 100%;
	}

	.header-cart-item-name {
		font-size: 12px;
	}

	.header-cart-item-txt {
		width: calc(100% - 60px);
	}

	.header-cart-item-info {
		font-size: 10px;
	}

	.cart-items .cart-qty .decrementqty {
		width: 12px;
		height: 12px;
	}

	.cart-items .cart-qty .incrementqty {
		width: 12px;
		height: 12px;
	}

	.cart-items .cart-qty .decrementqty>i {
		font-size: 10px;
	}

	.cart-items .cart-qty .incrementqty>i {
		font-size: 10px;
	}

	.cart-items .cart-qty .num-product {
		width: 21px;
		height: 12px;
	}

	.cart-items .cart-qty {
		width: auto;
		margin-left: 10px;
	}

	.cart-items .items-subtotal .removecart {
		width: 17px;
		height: 14px;
		margin-left: 10px;
		padding: 0;
	}

	.cart-items .items-subtotal .removecart>i {
		padding: 1px 2px;
		font-size: 12px;
		color: #dc3545;
	}

	.btn-qty {
		width: calc(100% / 3);
		height: 25px;
	}

	.btn-qty .fs-12 {
		font-size: 10px;
	}

	.qty-num-product {
		width: calc(100% / 3);
		height: 25px;
		font-family: Montserrat-Regular;
		font-size: 10px;
		font-weight: bold;
		color: white;
		background-color: #a2ebaf;
		line-height: 1.2;
	}
}



/*[ Header Mobile ]
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.wrap_header_mobile {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	min-height: 70px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #689c72;
	display: none;
}

.menu_header_mobile {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	min-height: 30px;
	margin-top: 70px;
	top: 0;
	right: 0;
	left: 0;
	position: absolute;
	background-color: #a2ebaf;
	display: none;
}

/*[ Bottom Nav Mobile ]
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.bottom_navbar_mobile {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #689c72;
	display: none;
}

/*[ Logo mobile ]
-----------------------------------------------------------*/
.logo-mobile {
	display: block;
}

.logo-mobile img {
	max-height: 27px;
}

/*[ btn show menu ]
-----------------------------------------------------------*/
.btn-show-menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.hamburger {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	margin-top: 5px;
}


/*[ Header icon mobile ]
-----------------------------------------------------------*/
.header-icons-mobile {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	margin-right: 15px;
}

.linedivide2 {
	display: block;
	height: 20px;
	width: 1px;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 5px;
}

.header-icons-mobile .header-cart {
	width: 300px;
	top: 160%;
	left: -240px;
	z-index: 1100;
	transform-origin: top right;
}

/*[ Menu mobile ]
-----------------------------------------------------------*/
.item-menu-mobile {
	background-color: #689c72;
}

.turn-arrow {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

/* ------------------------------------ */
.item-topbar-mobile {
	border-bottom: 1px solid #ececec;
}

.topbar-child2-mobile {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.topbar-social-moblie {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}


/*[ Header2 ]
///////////////////////////////////////////////////////////
*/
.topbar2 {
	background-color: #fff;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ------------------------------------ */
.logo2 {
	display: block;
}

.logo2 img {
	max-height: 27px;
}

.fixed-header2 {
	z-index: 1300;
	position: fixed;
	height: 65px;
	left: 0;
	top: -70px;
	visibility: hidden;

	box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.fixed-header2 .header-cart {
	top: 160%;
}

.show-fixed-header2 {
	visibility: visible;
	top: 0px;
}

/*[ Page sidebar ]
-----------------------------------------------------------
*/
.container1-page {
	margin-left: 320px;
}

@media (max-width: 992px) {
	.wrap_header_mobile {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex !important;
	}

	.menu_header_mobile {
		display: flex !important;
	}

	.bottom_navbar_mobile {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex !important;
	}

	.wrap_header {
		display: none;
	}

	.container-menu-header-v3,
	.container-menu-header-v2,
	.container-menu-header {
		display: none;
	}

	.top-bar {
		display: none;
	}

	header {
		height: auto !important;
	}

	.container1-page {
		margin-left: 0px;
	}
}

/*[ Slick1 ]
-----------------------------------------------------------
*/
.wrap-slick1 {
	position: relative;
}

.item-slick1 {
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.arrow-slick1 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	font-size: 18px;
	color: white;
	position: absolute;
	background-color: black;
	opacity: 0;

	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);

	border-radius: 10px;
	z-index: 200;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.wrap-slick1:hover .arrow-slick1 {
	opacity: 0.5;
}

.arrow-slick1:hover {
	background-color: #689c72;
}

.next-slick1 {
	right: 50px;
	left: auto;
}

.prev-slick1 {
	left: 50px;
	right: auto;
}

@media (max-width: 576px) {
	.next-slick1 {
		right: 15px;
	}

	.prev-slick1 {
		left: 15px;
	}
}

/*[ Caption ]
-----------------------------------------------------------
*/
@media (max-width: 992px) {
	.wrap-content-slide1 .xl-text2 {
		font-size: 60px;
	}
}

@media (max-width: 768px) {

	.wrap-content-slide1 .xl-text3,
	.wrap-content-slide1 .xl-text2,
	.wrap-content-slide1 .xl-text1 {
		font-size: 50px;
	}

	.wrap-content-slide1 .m-text27,
	.wrap-content-slide1 .m-text1 {
		font-size: 16px;
	}

	.item-slick1 {
		height: 470px;
	}
}

@media (max-width: 576px) {

	.wrap-content-slide1 .xl-text3,
	.wrap-content-slide1 .xl-text2,
	.wrap-content-slide1 .xl-text1 {
		font-size: 40px;
	}

	.wrap-content-slide1 .m-text27,
	.wrap-content-slide1 .m-text1 {
		font-size: 16px;
	}

	.item-slick1 {
		height: 370px;
	}
}

/*[ rs1-slick1 ]
-----------------------------------------------------------
*/
.rs1-slick1 .item-slick1 {
	height: 100vh;
}

@media (max-width: 992px) {
	.rs1-slick1 .item-slick1 {
		height: calc(100vh - 85px);
	}
}

/*[ Slick2 ]
-----------------------------------------------------------
*/
.wrap-slick2 {
	position: relative;
	margin-right: -15px;
	margin-left: -15px;
}

/* ------------------------------------ */
.arrow-slick2 {
	position: absolute;
	z-index: 100;
	top: calc((100% - 70px) / 2);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 39px;
	color: #a2ebaf;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.arrow-slick2:hover {
	color: #a2ebaf;
}

.next-slick2 {
	right: -30px;
}

.prev-slick2 {
	left: -30px;
}

@media (max-width: 1280px) {
	.next-slick2 {
		right: 0px;
	}

	.prev-slick2 {
		left: 0px;
	}
}

@media (max-width: 1610px) {
	.rs1-slick2 .next-slick2 {
		right: 0px;
	}

	.rs1-slick2 .prev-slick2 {
		left: 0px;
	}
}

/*[ Slick4 ]
-----------------------------------------------------------
*/
.wrap-slick4 {
	position: relative;
	margin-right: -15px;
	margin-left: -15px;
}

/* ------------------------------------ */
.arrow-slick4 {
	position: absolute;
	z-index: 100;
	top: calc((100% - 70px) / 2);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 39px;
	color: #a2ebaf;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.arrow-slick4:hover {
	color: #689c72;
}

.next-slick4 {
	right: -30px;
}

.prev-slick4 {
	left: -30px;
}

@media (max-width: 1280px) {
	.next-slick4 {
		right: 0px;
	}

	.prev-slick4 {
		left: 0px;
	}
}

@media (max-width: 1610px) {
	.rs1-slick4 .next-slick4 {
		right: 0px;
	}

	.rs1-slick4 .prev-slick4 {
		left: 0px;
	}
}

/*[ Slick5 ]
-----------------------------------------------------------
*/
.wrap-slick5 {
	position: relative;
	margin: 0;
}

/* ------------------------------------ */
.arrow-slick5 {
	position: absolute;
	z-index: 100;
	top: calc((100% - 70px) / 2);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 39px;
	color: #cccccc;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.arrow-slick5:hover {
	color: #666666;
}

.next-slick5 {
	right: -30px;
}

.prev-slick5 {
	left: -30px;
}

@media (max-width: 1280px) {
	.next-slick5 {
		right: 0px;
	}

	.prev-slick5 {
		left: 0px;
	}
}

@media (max-width: 1610px) {
	.rs1-slick5 .next-slick5 {
		right: 0px;
	}

	.rs1-slick5 .prev-slick5 {
		left: 0px;
	}
}

/*[ rs Sweetalert ]
///////////////////////////////////////////////////////////
*/
.swal-overlay {
	overflow-y: auto;
}

.swal-icon--success {
	border-color: #66a8a6;
}

.swal-icon--success__line {
	background-color: #66a8a6;
}

.swal-icon--success__ring {
	border: 4px solid rgba(102, 168, 166, 0.2);
}

.swal-button:focus {
	outline: none;
	box-shadow: none;
}

.swal-button {
	background-color: #e65540;
	font-family: Montserrat-Regular;
	font-size: 15px;
	color: white;
	text-transform: uppercase;
	font-weight: unset;
	border-radius: 20px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.swal-button:hover {
	background-color: #333333;
}

.swal-button:active {
	background-color: #e65540;
}

.swal-title {
	font-family: Montserrat-Medium;
	color: #333333;
	font-size: 16px;
	line-height: 1.5;
	padding: 0 15px;
}

.swal-text {
	font-family: Montserrat-Regular;
	color: #333333;
	font-size: 15px;
	text-align: center;
}

.swal-footer {
	margin-top: 0;
}

/*[ Footer ]
===========================================================*/
.footer {
	height: 80px;
	background-color: #689c72;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-social {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	padding-right: 40px;
}

.footer-social-item {
	font-size: 24px;
	color: white;
	padding: 10px;
}

.footer-text {
	font-family: Montserrat-Regular;
	font-size: 16px;
	color: white;
	line-height: 1.7;
}

.footer-child2 {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 40px;
}

@media (max-width: 992px) {
	.footer-social {
		position: absolute;
		height: 100%;
		top: 0;
		right: 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		padding-right: 10px;
	}

	.footer-social-item {
		font-size: 16px;
		color: white;
		padding: 5px;
	}

	.footer-text {
		font-family: Montserrat-Regular;
		font-size: 14px;
		color: white;
		line-height: 1.7;
	}

	.footer-child2 {
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding-left: 10px;
	}
}


/*[ Block1 ]
///////////////////////////////////////////////////////////
*/
.block1-wrapbtn {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 20px;

	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
}


/*[ Block2 ]
///////////////////////////////////////////////////////////
*/
.block2-labelsoldout::before {
	z-index: 100;
	font-family: Montserrat-Regular;
	font-size: 15px;
	color: white;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 30px;
	border-radius: 5px;
	position: absolute;
	top: 12px;
	left: 12px;
}

.block2-labelsale::before,
.block2-labelnew::before {
	z-index: 100;
	font-family: Montserrat-Regular;
	font-size: 12px;
	color: white;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 22px;
	border-radius: 11px;
	position: absolute;
	top: 12px;
	left: 12px;
}

.block2-labelsale::before {
	background-color: #e65540;
	content: 'Sale';
}

.block2-labelnew::before {
	background-color: #66a8a6;
	content: 'New';
}

.block2-labelsoldout::before {
	background-color: #dc3545;
	content: 'Sold Out';
}

/* ------------------------------------ */
.block2-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
}

/* ------------------------------------ */
.block2-btn-addcart {
	position: absolute;
	left: 50%;
	bottom: -45px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.block2-btn-addcart-slick {
	position: absolute;
	left: 50%;
	bottom: -45px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.block2-btn-addcart-detail {
	border-radius: 3px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.block2-btn-notavailable {
	position: absolute;
	width: 180px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 15px;
}

/* ------------------------------------ */
.block2-btn-towishlist,
.block2-btn-addwishlist {
	display: block;
	position: absolute;
	top: 26px;
	right: 20px;
	font-size: 20px;
	color: white;
	line-height: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.block2-btn-addwishlist:hover {
	color: white;
}

.block2-btn-addwishlist .icon-wishlist,
.block2-btn-towishlist .icon-wishlist {
	line-height: 0;
}

.block2-btn-addwishlist:hover .icon_heart_alt {
	display: none;
}

.block2-btn-addwishlist:hover .icon_heart {
	display: block;
}

/* ------------------------------------ */
.block2-btn-towishlist .icon_heart_alt {
	display: none;
}

.block2-btn-towishlist .icon_heart {
	display: block;
	color: #689c72;
}

/* ------------------------------------ */
.block2-overlay:hover {
	opacity: 1;
}

.block2-overlay:hover .block2-btn-addcart {
	bottom: 20px;
}

.block2-overlay:hover .block2-btn-addcart-slick {
	bottom: 20px;
}

.block2-overlay:hover .block2-btn-addwishlist,
.block2-overlay:hover .block2-btn-towishlist {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.block2-product-name {
	font-family: Montserrat-Medium;
	font-size: 15px;
	color: white;
	line-height: 1.5;
}

.block2-product-price {
	font-family: Montserrat-Medium;
	font-size: 13px;
	color: white;
	line-height: 1.5;
}

.block2-oldprice {
	font-family: Montserrat-Medium;
	font-size: 13px;
	color: white;
	text-transform: uppercase;
	text-decoration: line-through;
	text-decoration-color: #e65540;
	padding-right: 5px;
}

.block2-newprice {
	font-family: Montserrat-Medium;
	font-size: 13px;
	color: #e65540;
	text-transform: uppercase;
	padding-right: 5px;
}


@media (max-width: 992px) {
	.block2-btn-notavailable {
		bottom: 10px;
		width: calc(100% - 20px);
	}

	.block2-overlay:hover .block2-btn-addcart {
		bottom: 10px;
		width: calc(100% - 20px);
	}

	.block2-overlay:hover .block2-btn-addcart-slick {
		bottom: 10px;
	}

	.block2-product-name {
		font-family: Montserrat-Medium;
		font-size: 14px;
		color: white;
		line-height: 1.5;
	}

	.block2-product-price {
		font-family: Montserrat-Medium;
		font-size: 12px;
		color: white;
		line-height: 1.5;
	}

	.block2-oldprice {
		font-family: Montserrat-Medium;
		font-size: 12px;
		text-transform: uppercase;
		text-decoration: line-through;
		text-decoration-color: #e65540;
		padding-right: 5px;
	}

	.block2-newprice {
		font-family: Montserrat-Medium;
		font-size: 12px;
		text-transform: uppercase;
		padding-right: 5px;
	}
}

/*[ Block4 ]
///////////////////////////////////////////////////////////
*/
.block4 {
	position: relative;
	overflow: hidden;
	width: calc(100% / 5);
}

@media (max-width: 1360px) {
	.block4 {
		width: calc(100% / 4);
	}
}

@media (max-width: 1200px) {
	.block4 {
		width: calc(100% / 3);
	}
}

@media (max-width: 992px) {
	.block4 {
		width: calc(100% / 2);
	}
}

@media (max-width: 576px) {
	.block4 {
		width: calc(100% / 1);
	}
}

/* ------------------------------------ */
@media (max-width: 1660px) {
	.rs1-block4 .block4 {
		width: calc(100% / 4);
	}
}

@media (max-width: 1380px) {
	.rs1-block4 .block4 {
		width: calc(100% / 3);
	}
}

@media (max-width: 1200px) {
	.rs1-block4 .block4 {
		width: calc(100% / 2);
	}
}

@media (max-width: 576px) {
	.rs1-block4 .block4 {
		width: calc(100% / 1);
	}
}

/* ------------------------------------ */
.block4-overlay {
	display: block;
	background-color: rgba(0, 0, 0, 0.9);
	visibility: hidden;
	opacity: 0;
}

.block4-overlay:hover {
	color: unset;
}

/* ------------------------------------ */
.block4-overlay-txt {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -100%;
}

/* ------------------------------------ */
.block4-overlay-heart {
	transform-origin: top left;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

/* ------------------------------------ */
.block4:hover .block4-overlay {
	visibility: visible;
	opacity: 1;
}

.block4:hover .block4-overlay-txt {
	bottom: 0;
}

.block4:hover .block4-overlay-heart {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}


/*[ BG Title Page ]
///////////////////////////////////////////////////////////
*/
.bg-title-page {
	width: 100%;
	min-height: 239px;
	padding-left: 15px;
	padding-right: 15px;
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
}

@media (max-width: 992px) {
	.bg-title-page {
		margin-top: 70px;
	}

	.bg-title-page .l-text2 {
		font-size: 35px;
	}

	.bg-title-page .m-text13 {
		font-size: 16px;
	}

	.confirm-order {
		margin-top: 50px;
	}
}

@media (max-width: 576px) {
	.bg-title-page {
		margin-top: 70px;
	}

	.bg-title-page .l-text2 {
		font-size: 35px;
	}

	.bg-title-page .m-text13 {
		font-size: 16px;
	}
}

/*[ rs NoUI ]
///////////////////////////////////////////////////////////
*/
.leftbar #filter-bar {
	margin-right: 6px;
	margin-left: 6px;
	height: 4px;
	border: none;
	background-color: #e1e1e1;
}

.leftbar #filter-bar .noUi-connect {
	background-color: #c5c5c5;
	border: none;
	box-shadow: none;
}

.leftbar #filter-bar .noUi-handle {
	width: 13px;
	height: 13px;
	left: -6px;
	top: -5px;
	border: none;
	border-radius: 50%;
	background: #999999;
	cursor: pointer;
	box-shadow: none;
	outline: none;
}

.leftbar #filter-bar .noUi-handle:before {
	display: none;
}

.leftbar #filter-bar .noUi-handle:after {
	display: none;
}

/*[ Filter Color ]
///////////////////////////////////////////////////////////
*/
.color-filter1 {
	background-color: #00bbec;
}

.color-filter2 {
	background-color: #2c6ed5;
}

.color-filter3 {
	background-color: #ffa037;
}

.color-filter4 {
	background-color: #ff5337;
}

.color-filter5 {
	background-color: #a88c77;
}

.color-filter6 {
	background-color: #393939;
}

.color-filter7 {
	background-color: #cccccc;
}

.checkbox-color-filter {
	display: none;
}

.color-filter {
	display: block;
	width: 25px;
	height: 25px;
	cursor: pointer;
	border-radius: 50%;
}

.checkbox-color-filter:checked+.color-filter {
	box-shadow: 0 0 0px 2px black;
	-moz-box-shadow: 0 0 0px 2px black;
	-webkit-box-shadow: 0 0 0px 2px black;
	-o-box-shadow: 0 0 0px 2px black;
	-ms-box-shadow: 0 0 0px 2px black;
}

/*[ Pagination ]
///////////////////////////////////////////////////////////
*/
.pagination {
	margin-right: -6px;
	margin-left: -6px;
}

.item-pagination {
	font-family: Montserrat-Regular;
	font-size: 13px;
	color: #808080;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 1px solid #eeeeee;
	margin: 6px;
}

.item-pagination:hover {
	background-color: #222222;
	color: white;
}

.active-pagination {
	background-color: #222222;
	color: white;
}


/*[ Slick3 ]
///////////////////////////////////////////////////////////
*/

.wrap-slick3-dots {
	width: 14.5%;
}

.slick3 {
	width: 80.64%;
}

.slick3-dots li {
	display: block;
	position: relative;
	width: 100%;
	margin-bottom: 15px;
}

.slick3-dots li img {
	width: 100%;
}

.slick3-dot-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.slick3-dot-overlay:hover {
	border: 3px solid #888888;
}

.slick3-dots .slick-active .slick3-dot-overlay {
	border: 3px solid #888888;
}


/*[ Dropdown content ]
///////////////////////////////////////////////////////////
*/
.show-dropdown-content .down-mark {
	display: block;
}

.show-dropdown-content .up-mark {
	display: none;
}

/*[ Table ]
-----------------------------------------------------------
*/
.wrap-table-shopping-cart {
	overflow: auto;
}

.container-table-cart::before {
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: calc(100% - 51px);
	background-color: #e6e6e6;
	top: 51px;
	left: 0;
}

.container-table-cart::after {
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: calc(100% - 51px);
	background-color: #e6e6e6;
	top: 51px;
	right: 0;
}

.table-shopping-cart {
	border-collapse: collapse;
	width: 100%;
	min-width: 992px;
}

.table-shopping-cart .table-row {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.table-shopping-cart .column-1 {
	width: 225px;
	padding-left: 50px;
}

.table-shopping-cart .column-2 {
	width: 330px;
	padding-right: 30px;
}

.table-shopping-cart .column-3 {
	width: 133px;
	padding-right: 30px;
}

.table-shopping-cart .column-4 {
	width: 355px;
	padding-right: 30px;
}

.table-shopping-cart .column-5 {
	padding-right: 30px;
}

.table-shopping-cart .table-head th {
	font-family: Montserrat-Bold;
	font-size: 13px;
	color: #555555;
	line-height: 1.5;
	text-transform: uppercase;
	padding-top: 16px;
	padding-bottom: 16px;
}

.table-shopping-cart td {
	font-family: Montserrat-Regular;
	font-size: 16px;
	color: #555555;
	line-height: 1.5;
	padding-top: 37px;
	padding-bottom: 30px;
}

.table-shopping-cart .table-row .column-2 {
	font-size: 15px;
}


/* ------------------------------------ */
.cart-img-product {
	width: 90px;
	position: relative;
}

.cart-img-product img {
	width: 100%;
}

.cart-img-product::after {
	content: '\e870';
	font-family: Linearicons;
	font-size: 16px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	opacity: 0;
}

.cart-img-product:hover:after {
	cursor: pointer;
	opacity: 1;
}

/*[ Input NumProduct ]
///////////////////////////////////////////////////////////
*/
input.num-product {
	-moz-appearance: textfield;
	appearance: none;
	-webkit-appearance: none;
}

input.num-product::-webkit-outer-spin-button,
input.num-product::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/*[ Input NumProduct ]
///////////////////////////////////////////////////////////
*/
input.num-product {
	-moz-appearance: textfield;
	appearance: none;
	-webkit-appearance: none;
}

input.num-product::-webkit-outer-spin-button,
input.num-product::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/*[ Main Sidebar ]
///////////////////////////////////////////////////////////
*/

.sidebar-menu {
	position: fixed;
	background: #689c72;
	color: white;
	height: 100%;
	width: 250px;
	top: 0;
	left: -350px;
	bottom: 0;
	z-index: 1038;
	-webkit-transition: left 0.2s;
	transition: left 0.2s;
	border: 1px solid #ccc;
}

.show-sidebar {
	background: transparent;
	color: #fff;
	cursor: pointer;
}

.sidebar-menu-show {
	left: 0 !important;
}

.sidebar-header {
	background: #ffffff;
	height: fit-content;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 1px solid #e9ecef;
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;
}

.sidebar-header::after {
	position: absolute;
	content: '';
	display: block;
	height: 80px;
	width: 80px;
	top: 0;
	right: -0.4px;
	border-left: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-top: 40px solid #a2ebaf;
	border-right: 40px solid #a2ebaf;
	border-top-right-radius: 6px;
}

.sidebar-closebtn {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 0.5;
	text-shadow: 0 1px 0 #fff;
	background-color: transparent;
	color: #ffffff;
	z-index: 1051;
	border: none;
	top: 2px;
}

.logo-sidebar2 {
	width: 100px;
}

.sidebar-body {
	padding: 15px 15px 80px;
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1rem;
	overflow-y: auto;
}

.sidebar {
	display: block;
	float: left;
	width: 100%;
}

.sidebar-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar-nav i {
	width: 20px;
}

.sidebar-nav ul a {
	padding: 10px 10px 10px 10px;
	color: white;
	border-bottom: 1px solid #efefef;
}

.sidebar-nav ul li,
.sidebar-nav ul a {
	display: block;
	position: relative;
}

.sidebar-nav a,
.sidebar-nav a:hover,
.sidebar-nav a:focus,
.sidebar-nav a:active {
	outline: none;
}

.sidebar-nav .sub-menu a {
	font-family: Montserrat-Regular;
	font-size: 13px;
	color: white;
	line-height: 1.5;
	padding-left: 0;
}

.sidebar-nav .sub-menu>li {
	padding-left: 15px;
}

.sidebar-nav .sub-menu a:hover {
	text-decoration: underline;
	padding-left: 10px;
	color: #689c72 !important;
}

.sidebar-nav .sub-menu {
	background-color: #a2ebaf;
	margin-left: 20px;
	border-radius: 0.25rem;
	display: none;
}

.sidebar-nav .sub-menu .active {
	padding-left: 10px;
	color: #689c72;
	font-weight: bold;
}

.sidebar-nav .main-menu .arrow-main-menu {
	font-size: 14px;
	right: 15px;
	top: 5px;
	position: absolute;
	padding: 10px;
	font-weight: bold;
	-webkit-transition: all 0.4s !important;
	-o-transition: all 0.4s !important;
	-moz-transition: all 0.4s !important;
	transition: all 0.4s !important;
}

.sidebar-nav .main-menu .arrow-main-menu:hover {
	cursor: pointer;
}

.main-menu .arrow-main-menu {
	float: right;
	line-height: 1.42857;
}

/*[ Ribbons ]
///////////////////////////////////////////////////////////
*/
.ribbon1 {
	position: absolute;
	width: 3.5em;
	height: 4em;
	z-index: 9;
	top: 10px;
	background: #dc3545;
	padding: 5px 0;
	margin-left: 10px;
	-webkit-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
	box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.ribbon1-content {
	z-index: 10;
	position: relative;
	margin: 0 5px;
}

.ribbon1:before {
	content: "";
	position: absolute;
	bottom: -1em;
	left: 0;
	width: 0;
	height: 0;
	border-top: 1.5em solid #dc3545;
	border-right: 3em solid transparent;
	z-index: 8;
}

.ribbon1:after {
	content: "";
	position: absolute;
	bottom: -1em;
	right: 0;
	width: 0;
	height: 0;
	border-top: 1.5em solid #dc3545;
	border-left: 3em solid transparent;
	z-index: 8;
}

.ribbon-slick {
	position: absolute;
	width: 3.5em;
	height: 4em;
	z-index: 9;
	top: 10px;
	background: #dc3545;
	padding: 5px 0;
	margin-left: 10px;
	-webkit-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
	box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.ribbon-slick-content {
	z-index: 10;
	position: relative;
	margin: 0 5px;
}

.ribbon-slick:before {
	content: "";
	position: absolute;
	bottom: -1em;
	left: 0;
	width: 0;
	height: 0;
	border-top: 1.5em solid #dc3545;
	border-right: 3em solid transparent;
	z-index: 8;
}

.ribbon-slick:after {
	content: "";
	position: absolute;
	bottom: -1em;
	right: 0;
	width: 0;
	height: 0;
	border-top: 1.5em solid #dc3545;
	border-left: 3em solid transparent;
	z-index: 8;
}

@media (max-width: 992px) {
	.ribbon1 {
		position: absolute;
		width: 2.5em;
		height: 3em;
		z-index: 9;
		top: 10px;
	}

	.ribbon1:before {
		bottom: -0.5em;
		border-top: 1em solid #dc3545;
		border-right: 2.5em solid transparent;
	}

	.ribbon1:after {
		bottom: -0.5em;
		border-top: 1em solid #dc3545;
		border-left: 2.5em solid transparent;
	}
}

.overlay {
	display: -webkit-flex;
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: 0 15px 20px 15px;
	z-index: 9;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .5);
	color: #666f76;
	border-radius: 4px;
}

.overlay-slick {
	display: -webkit-flex;
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 9;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .5);
	color: #666f76;
	border-radius: 4px;
}

@media (max-width: 992px) {
	.overlay {
		margin: 0 2px 20px 2px;
	}
}

/*[ Add to cart ]
///////////////////////////////////////////////////////////
*/

.add_to_cart {
	width: calc(100% / 2 - 5px);
	height: 30px;
	border-radius: 3px;
	margin-left: 5px;
	background-color: #689c72;
}

.add_to_cart_slick {
	width: calc(100% / 2 - 5px);
	height: 30px;
	border-radius: 3px;
	margin-left: 5px;
	background-color: #689c72;
}

.add_to_cart_detail {
	width: calc(100% / 2 - 5px);
	height: 40px;
	border-radius: 3px;
	margin-left: 5px;
	background-color: #689c72;
}

.add_qty_cart {
	width: calc(100% / 2 - 5px);
	height: 30px;
	border-radius: 3px;
	margin-right: 5px;
}

.add_qty_cart_slick {
	width: calc(100% / 2 - 5px);
	height: 30px;
	border-radius: 3px;
	margin-right: 5px;
}

.add_qty_cart_detail {
	width: calc(100% / 2 - 5px);
	height: 40px;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	margin-right: 5px;
}

.btn_notavailable {
	border-radius: 10px;
	background-color: #dc3545;
	width: 100%;
	height: 35px;
}

@media (max-width: 992px) {
	.product-home {
		margin-left: 10px;
		margin-right: 10px;
	}

	.container-product {
		margin-right: auto;
		margin-left: auto;
		width: 100%;
	}

	.container-product .col-6 {
		position: relative;
		width: 100%;
		min-height: 1px;
		padding-right: 2px;
		padding-left: 2px;
	}

	.add_to_cart {
		width: calc(100% / 2 - 2px);
		height: 25px;
		border-radius: 3px;
		margin-left: 2px;
		font-size: 10px;
	}

	.add_qty_cart {
		width: calc(100% / 2 - 2px);
		height: 25px;
		border-radius: 3px;
		margin-right: 2px;
	}

	.btn_notavailable {
		border-radius: 8px;
		background-color: #dc3545;
		width: 100%;
		height: 30px;
		font-size: 12px;
	}

	.shipping {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

/*[ Offers ]
///////////////////////////////////////////////////////////
*/

.offers {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	padding: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
}

/*[ Nav Link mobile ]
///////////////////////////////////////////////////////////
*/
.nav-mobile-active {
	background-color: #a2ebaf;
	color: white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
	border-radius: .25rem;
}

/*[ Nav Category ]
///////////////////////////////////////////////////////////
*/
.nav-category-active {
	background-color: #689c72;
	color: white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
	border-radius: .25rem;
	display: block;
}

.wrap-menu-category {
	background-color: #a2ebaf;
}

.main-menu-category {
	list-style-type: none;
	margin: 0px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.main-menu-category>li {
	display: block;
	padding: 5px 10px 5px 10px;
}

.main-menu-category>li>a {
	font-family: Montserrat-Regular;
	font-size: 15px;
	color: white;
	border-bottom: 1px solid transparent;
}

/*[ Footer Sidebar Mobile ]
///////////////////////////////////////////////////////////
*/
.footer-sidebar {
	bottom: 0;
	position: fixed;
	padding: 0px 5px 10px 1rem;
}
